@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap&family=space+mono&display=swap');


@font-face {
  font-family: 'Ancient-Tulip';
  src: url('../fonts/Ancient-Tulip.ttf') format('truetype');
} 

@font-face {
  font-family: "OffenbacherSchwabacherCAT";
  src: url("../fonts/OfenbacherSchwabCAT.ttf") format('truetype');
}

* {
  margin: 0;
}

body {
  font-family: "Open Sans", Arial, sans-serif;
  color: #515151;
  background-color: #ebeaea
}

.exInfo {
  margin: 5% 15%;
}

.exInfo > img {
  width: 17em;
  margin: 0 auto;
  display: block;

}

.exInfo > h1 {
  text-align: center;
  font-size: 3.5em;
}

.exInfo > p {
  text-align: center;
  font-size: 1.3em;
}

.container {
  margin:  0 15% 15%;
}

h1 {
  font-family: OffenbacherSchwabacherCAT, Arial, sans-serif;
}

p {
  font-family: Ancient-Tulip, Arial, sans-serif;
  font-size: 1.5em;
}

form {
font-family: "OffenbacherSchwabacherCAT", "Ancient-Tulip", sans-serif;
margin: 1.5em 0 0 0;

}

form > * {
  margin: 0 0 -5em 0;
}

label {
  text-align: center;
}


input, textarea {
  font-family: OffenbacherSchwabacherCAT, Arial, sans-serif;
  margin: 0 5%;
  width: 90%;
  font-size: 1.7em;
  color: #474747;
  height: 2.2em;
  text-align: center;

  background-color: #fff;
  left: 0;
  margin-top: 1px;
  box-shadow: 0 1px 2px rgb(204, 204, 204);
  border-radius: 0 1px 2px 2px;
  overflow: hidden;
  max-height: 10.5em;
  transition: all .2s ease-in-out;
  cursor: pointer;
  border: none;
  min-width: 10.5em;
}

input:hover {
  box-shadow: 0 0 4px rgb(204, 204, 204);
  border-radius: 2px 2px 0 0;
  background-color: #f8f8f8;
}

input:active {
  background-color: #f8f8f8;
}

input:focus {
  outline: #0E592A;
}

.dropdown {
  font-family: OffenbacherSchwabacherCAT, Arial, sans-serif;
  margin: 0 5% 4% 5%;
  width: 91%;
  display: inline-block;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 0 2px rgb(204, 204, 204);
  transition: all .5s ease;
  position: relative;
  font-size: 1.7em;
  color: #474747;
  height: 2.2em;
  text-align: center;
  min-width: 8em;
}

.dropdown .select {
  cursor: pointer;
  display: block;
  padding: 10px
}

.dropdown .select>i {
  font-size: 1em;
  color: #888;
  cursor: pointer;
  transition: all .3s ease-in-out;
  float: right;
  line-height: 1em;
}

.dropdown:hover {
  box-shadow: 0 0 4px rgb(204, 204, 204)
}

.dropdown:active {
  background-color: #f8f8f8
}

.dropdown.active:hover,
.dropdown.active {
  box-shadow: 0 0 4px rgb(204, 204, 204);
  border-radius: 2px 2px 0 0;
  background-color: #f8f8f8
}

.dropdown.active .select>i {
  transform: rotate(-90deg)
}

.dropdown .dropdown-menu {
  position: absolute;
  background-color: #fff;
  width: 100%;
  left: 0;
  margin-top: 1px;
  box-shadow: 0 1px 2px rgb(204, 204, 204);
  border-radius: 0 1px 2px 2px;
  overflow: hidden;
  display: none;
  max-height: 10.5em;
  overflow-y: auto;
  z-index: 9
}

.dropdown .dropdown-menu li {
  padding: 10px;
  transition: all .2s ease-in-out;
  cursor: pointer
}

.dropdown .dropdown-menu {
  padding: 0;
  list-style: none
}

.dropdown .dropdown-menu li:hover {
  background-color: #f2f2f2
}

.dropdown .dropdown-menu li:active {
  background-color: #e2e2e2
}

.time_date_box {
  margin: 2em 0;
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
}


.i_fields{
  transition: ease-in-out;
  display: none;
}


#edescription {
  line-height: 50px;
  -webkit-transition: all 0.5s 0s ease-out;
  -moz-transition: all 0.5s 0s ease-out;
  -o-transition: all 0.5s 0s ease-out;
  transition: all 0.5s 0s ease-out;
}

#edescription:focus {
  height: 5em;
  outline: none;
}


.btns, .btns:hover, .btns:active {
  font-family: 'Ancient-Tulip', arial, sans-serif;
  color: #f2c615;
  background-color: #185b32;
  border: 4px solid #f2c615;
  -webkit-transition: all 0.5s 0s ease-out;
  -moz-transition: all 0.5s 0s ease-out;
  -o-transition: all 0.5s 0s ease-out;
  transition: all 0.5s 0s ease-out;
  margin-bottom: 10px;

}

.btns:hover {
  -webkit-box-shadow: 0px 0px 20px 0px #000000; 
  box-shadow: 0px 0px 20px 0px #000000;

}

.btns:active {
  -webkit-box-shadow: inset 0px 0px 20px 0px #000000; 
  box-shadow: inset 0px 0px 20px 0px #000000;

}


code {
  margin: 0  auto;
  font-family: "Space Mono", monospace, sans-serif;
  font-size: 17px;
  border: 1px solid;
  border-radius: 2.5px;
  border-color: #888;
  padding: 10%;
  background-color: #1a1a1a;
  color: #e2e2e2;
  height: fit-content;
  width: 25em;
  display: none;
  cursor: copy;
  line-break: anywhere;

}

/*Loading-bar*/
#progress-container {
  margin: 6em 10% -8em 10%;
  display: none;
}

.lines-container {
  border: 0.2em dashed #f2c615;
  position: relative;
  opacity: 90%;

}

.markers {
  display: inline-flex;
  justify-content: space-between; 
  width: 100%;
  cursor: pointer;

}


.slide-point {
  width: 4em;
  height: 4em;
  background-color: #185b32;
  border: .25em solid #f2c615;
  border-radius: 3em;
  margin: -2.5em 0;
  position: relative;
  -webkit-transition: all 0.5s 0s ease-out;
  -moz-transition: all 0.5s 0s ease-out;
  -o-transition: all 0.5s 0s ease-out;
  transition: all 0.5s 0s ease-out;
}


.slide-point > img {
  display: inline-block;
  transform: scaleX(-1);
  margin: .7em;
  width: 2.5em;
  visibility: hidden;
  -webkit-transition: all 0.5s 0s ease-out;
  -moz-transition: all 0.5s 0s ease-out;
  -o-transition: all 0.5s 0s ease-out;
  transition: all 0.5s 0s ease-out;
}

.slide-point:hover > img {
  visibility:visible;
  opacity: 80%;
}

.slide-point::after {
  text-transform: uppercase;
  white-space:nowrap;
  position: relative;
  top: -160%;
  left: -45%;
  font-size: .9em;
  text-align: center;
  font-family: "Ancient-Tulip", Arial, Helvetica, sans-serif;
  color: #185b32;
  color: #aaaaaa
}

.slide-point:first-child::after {
  content: "Niente Effetti";
}

.slide-point:nth-child(2)::after {
  content: "Placca e Feluca";
}

.slide-point:last-child::after {
  content: "Effetti al completo";
}

.slide-point::after:hover {
  color: #185b32;
}

.slide-point:hover {
  box-shadow: 0px 0px 5px 19px rgba(0,0,0,0.53) inset;
  -webkit-box-shadow: 0px 0px 5px 19px rgba(0,0,0,0.53) inset;
  -moz-box-shadow: 0px 0px 5px 19px rgba(0,0,0,0.53) inset;
}

.slide-point:hover > .slide-point::after {
  box-shadow: none;
  -webkit-box-shadow:none;
  -moz-box-shadow: none;
}

#output { 
  border: none;
  background-color: unset;
  z-index: 1;
  width: 2.5em;
  visibility: hidden;
  opacity: 100%;

}



#output > img {
  width: 100%;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);


}

#output > img:hover {
  -webkit-filter: drop-shadow(2px 2px 2px rgb(37, 37, 37));
  filter: drop-shadow(2px 2px 2px rgb(37, 37, 37));
}

.submit-container {
  margin-top: 10em;
}


@media only screen and (max-width: 768px) {

  .container {
    width: 80%;
    margin: 0 auto;
  }

  .time_date_box {
    margin: 1em 0;
    width: 100%;
    flex-direction: column;
  }

  .time_date_box > input {
    width: 90%;
    
  }


}

@media only screen and (max-width: 480px) {

  .exInfo {
    margin: .8em 1em 0 1em;
  }

  .exInfo > p, p {
    line-height: 2em;
    font-size: 1.3em;
    text-align: justify;
    text-align-last: center;
  }

  .container {
    height: 80%;
    margin-top: 2em;
  }

  form {
    margin: 0;
  }

  .dropdown, .btns, .i_fields {
    min-height: max-content;
    line-height: 2.25em;
    height: 3em;
    width: 100%;
    margin: 0 0 30px 0;
  }

  #edescription {
    width: 99%;
    padding-top: 1em;
  }

  #edescription:focus {
    height: 15em;
  }

  .time_date_box > input {
    width: 100%;
  }

  code {
    margin: 10em auto 10em auto;
    padding: 10px;
    width: fit-content;
    line-break: anywhere;
  }

  .slide-point:nth-child(2)::after {
    top: 5%;

  }
  


}